/* app.css */

body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    z-index: 1000; /* Ensure the navbar is stacked above other elements */
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 100px 0; /* Add top and bottom margin */
  }
  
  .quiz-card {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .options {
    margin-bottom: 15px;
    margin-left: 25px;
  }
  .score {
    margin-top: 20px;
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    text-align: center;
  }

  .table1{
    margin: 20px;
  }

  @media (min-width: 320px) {
    .quiz-card{
     margin-top: 50px;
    }
  }
  